.login-form {
   text-align: center;
}

.login-form {
  background-color:#ccc;
  margin-right:300px;
  margin-left:300px;
  border-radius:15px;
  padding:20px;
}

.btn:enabled{
  height: 25px;
}

.btn:disabled{
  color:white;
  height: 25px;
}
